In [1]:
# creating list
list = ["apple", "banana", "cherry","pineapple","kiwi","orange","melon"]
list

['apple', 'banana', 'cherry', 'pineapple', 'kiwi', 'orange', 'melon']

In [2]:
# type of data_type
print(type(list))

<class 'list'>

In [3]:
# Accesing the  first element in the list 
list[0]

'apple'

In [4]:
# Accesing the last element in the list 
list[-1]

'melon'

In [5]:
# selecting the range of data in the list 
print(list[2:5])

['cherry', 'pineapple', 'kiwi']

In [6]:
# This example returns the items from "cherry" to the end
list[2:]

['cherry', 'pineapple', 'kiwi', 'orange', 'melon']

In [7]:
# accesing the data up to before element 
list[:4]

['apple', 'banana', 'cherry', 'pineapple']

In [8]:
# sorting the list
list.sort()
list

['apple', 'banana', 'cherry', 'kiwi', 'melon', 'orange', 'pineapple']

In [9]:
# adding data to the list
list.append("papaya")
list

['apple', 'banana', 'cherry', 'kiwi', 'melon', 'orange', 'pineapple', 'papaya']

In [10]:
# deleting the element in the list 
list.remove("banana")
list

['apple', 'cherry', 'kiwi', 'melon', 'orange', 'pineapple', 'papaya']

In [11]:
# count the number of elements in the list
list.__len__()

7

In [12]:
# count the number of repeated elements in the list
list.count('apple')

1

In [13]:
# reversing the list 
list.sort(reverse=True)
list

['pineapple', 'papaya', 'orange', 'melon', 'kiwi', 'cherry', 'apple']

In [14]:
list.insert(3,"strawberries")
list

['pineapple',
 'papaya',
 'orange',
 'strawberries',
 'melon',
 'kiwi',
 'cherry',
 'apple']

In [15]:
list

['pineapple',
 'papaya',
 'orange',
 'strawberries',
 'melon',
 'kiwi',
 'cherry',
 'apple']

In [16]:
# indexing the element
list.index("melon")

4

In [17]:
list1=[1,3,5,7,45,76,2]

In [18]:
# finding the maximum element in the list 
max(list1)

76

In [19]:
# finding the minimum element in the list 
min(list1)

1

In [20]:
# copy from data from one list to another list
list2=list1.copy()
list2

[1, 3, 5, 7, 45, 76, 2]